.imageFR {
	border: 3px white solid;
}

.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 4px #68c5ff inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}
